<!DOCTYPE html>
<html lang="en">
<head>
    <title>COEN 174 - Project</title>
    <%- include('../partials/head') %>
    
</head>
<body>
    <%- include('../partials/nav') %>
    <main class="main section">
        <header class = "main header">
            <%- include('../partials/header') %>
        </header>
        <%- body %>
    </main>
    
    <footer class = "main footer">
        <%- include('../partials/footer') %>
    </footer>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>
</html>